<p id="notice"><%= notice %></p>

<h1>Your Bus Information</h1>

<h3 class="text-muted">Your Current Location</h3>

<p class="text-muted">
  <%= @location.full_street_address %><small><%= link_to fa_icon('pencil', text: 'Edit'), edit_location_path(@location) %></small>
</p>

<h3>The closest buses are...</h3>

<% @buses.each do |bus| %>
  <p>
    <strong>Route: </strong><%= bus["ROUTE"] %> <%= bus["DIRECTION"] %>
    <br>
    <strong>Bus No: </strong><%= bus ["VEHICLE"] %>
    <br>
    <strong>Next Stop: </strong><%= bus ["TIMEPOINT"] %>
  </p>
<% end %>

<% if @buses.empty? %>
  <p>
    I'm sorry. There are no buses nearby.
<br>
    <%= link_to 'Do you want to try again?', edit_location_path(@location) %>
  </p>
<% end %>